.contact-form-container {
  height: 100%;
}

.contact-form-fields-container {
  display: flex;
  justify-content: space-evenly;
}

.contact-form-fields {
  width: 40%;
}

.contact-form-notes {
  width: 75%;
}
